spring.application.name=apiBicoCerto
spring.datasource.url=jdbc:postgresql://localhost:5432/BicoCerto
spring.datasource.username=postgres
spring.datasource.password=admin

api.security.token.secret=minhaChaveSuperSecreta123